.froud{
    text-align: justify;
    font-family: monospace;
    padding: 100px;
    color: rgb(0, 28, 51);
}

.info{
    text-align: justify;
    font-family: monospace;
    color: rgb(0, 28, 51);
}

.modules{
    bottom: 10px;
    text-align: justify;
    font-family: monospace;
    color: rgb(0, 28, 51);
}